
<header class="site-header">
    <div class="site-header-item">
        <a class="site-header-logo" href="/">
            <img src="/static/logo2.png">
            <span>WebFriend</span>
        </a>
    </div>
    <div class="site-header-item">
         <a class="button button-outline" href="/p/new">สร้างโพส</a>
    </div>
    
</header>


