<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสใหม่ | '}}
<body>
    {{> siteHeader }}
    <center><section class="section">
        <div class="container">
            <h2>สร้างโพสสำเร็จ</h2>
            <p>ยินดีด้วยคุณสร้างโพสได้แล้ว</p>
            <a class="button" href="/">กลับหน้าแรก</a>
        
        </div>
    </section></center>
    {{> siteFooter }}
</body>
</html>


